<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66131301835-ug1hvbqt1rtpgud1084c2nbm093eo48c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66131301835-ug1hvbqt1rtpgud1084c2nbm093eo48c</string>
	<key>API_KEY</key>
	<string>AIzaSyAQax2It7xrlA9gmSW4JSIBs-GdNpMwZC8</string>
	<key>GCM_SENDER_ID</key>
	<string>66131301835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bipp.inc.Firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-ee8f4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ee8f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:66131301835:ios:9fd644f2c2807abe97924e</string>
</dict>
</plist>
